.location-card {
    width: 100%;
    margin: 25px 16px 16px 16px;
}

.card-header-title {
    font-size: 1.75em;
}

.card-header-subtitle {
    font-size: 1.25em;
}

.card-body-paper {
    height: 128px;
    width: 50%;
    display: inline-block;
    box-shadow: none !important;
    vertical-align: top;
}

.paper-container {
    padding: 0 16px;
    margin-top: -15px;
}

.current-conditions {
    display: inline-block;
    font-size: 4em;
    vertical-align: top;
}

.degrees {
    font-size: 0.5em;
    vertical-align: super;
}

.current-conditions-details {
    font-size: 1.25em;
}

.current-conditions-details-prefix {
    color: #888;
}

.one-day-container {
    display: flex;
    padding: 0 16px !important;
}

.icon {
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

@media (max-width: 450px) {
    .card-header-subtitle {
      font-size: 0.9em; 
    }
    .icon {
      width: 80px;
      height: 80px; 
    }
    .current-conditions {
      font-size: 2.3em; 
    }
    .current-conditions-details {
        font-size: 1.1em;
    }
 }