.cloudy-day {
    background-image: url('../../images/cloudy.png');
}
.partly-cloudy-day {
    background-image: url('../../images/partly-cloudy.png');
}
.rain-day {
    background-image: url('../../images/rain.png');
}
.thunderstorm-day {
    background-image: url('../../images/thunderstorm.png');
}
.wind-day {
    background-image: url('../../images/wind.png');
}
.clear-day {
    background-image: url('../../images/clear.png');
}